<robot name="mycar">
    <link name="base_link">
        <visual>
            <!-- 1.形状> -->
            <geometry>
            <box size="0.3 0.2 0.1"/>
            <!-- <cylinder radius="0.1" length="0.2"/> -->
            <!-- <sphere radius="0.1"/> -->
            <!-- <mesh filename="package://limo_gazebo/meshes/limo_base.stl"/> -->
            </geometry>
            <!-- 2.偏移量与倾斜弧度 -->
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <!-- 3.颜色 rgba-(0-1) -->
            <material name="base_link_color"> 
                  <color rgba="0 0 1 1"/>   
            </material>        
        </visual>   
    </link>

</robot >   `