<robot name="robot" xmlns:xacro="http://wiki.ros.org/xacro">

    <!--属性定义-->
    <xacro:property name="PI" value="3.1315927"/>
    <xacro:property name="radius" value="0.03"/>
    <!--属性调用-->
    <robot_use name="${PI}" />
    <robot_use name="${radius}" />
    <!--属性运算-->
    <robot_use result="${radius+PI}" />
    <robot_use result="${radius*2}" />
    <!-- <xacro:include filename="$(find limo_description)/urdf/xacro/limo_robot.xacro"/> -->
    <!-- <xacro:include filename="$(find limo_description)/urdf/xacro/limo_gazebo.urdf.xacro"/> -->

</robot>    