<launch>
    <param name="robot_description" command ="$(find xacro)/xacro $(find limo_description)/urdf/limo_ackerman.xacro" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find limo_description)/rviz/robot.rviz" />

    <!--机器人状态发布节点 -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <!--机器人关节状态发布节点 -->
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />

    <node pkg="arbotix_python" type="arbotix_driver" name="arbotix_driver" output="screen">
        <rosparam command="load" file="$(find limo_description)/config/limo.yaml" />
        <param name="sim" value="true" />
    </node>

</launch>           